<body class="d-flex flex-column sticky-footer-wrapper min-vh-100">
<app-navigation-bar></app-navigation-bar>
<main class="flex-fill">
<!-- <span style="float:right">
<app-location></app-location><app-contact-us></app-contact-us>
</span>
<app-header></app-header>

<body class="bg"> 
    
    <nav class= "nav-site-menu">
      <ul>
    <li>
      <a class="site-nav-menu"  routerLink="/" routerLinkActive="active">Home</a>
      </li>

      <li>
        <a class="nav-link" routerLink="about-us" routerLinkActive="active">About Us</a>
        </li>

        <li>
        <a class="nav-link" routerLink="cocktails" routerLinkActive="active">Cocktails</a>
        </li>

        <li>
        <a class="nav-link" routerLink="food" routerLinkActive="active">Food</a>
        </li>

        <li>
        <a class="nav-link" routerLink="hours-of-operation" routerLinkActive="active">Hours of Operation</a>
        </li>
        </ul>
    
    </nav>
    
  
   
    
    
    <router-outlet></router-outlet> -->

    
    <!-- </body> -->
 
    <img src="https://cdn.vox-cdn.com/thumbor/-oyNOZ9QdVoy4P2NJ-nfVTV0VhI=/0x0:2094x1389/1520x1013/filters:focal(880x528:1214x862):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/62779343/Screen_Shot_2019_01_03_at_1.37.15_PM.0.png">

    <app-footer></app-footer>
    
  </main>
  </body>






